ul {
  padding: 0px;
  list-style: none;
}

* {
  align-items: center;
  text-align: center;
}

.review_link {
  text-decoration: none;
  color: black;
}
.review_owner_link {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: turquoise;
  box-sizing: border-box;
  border: 1px black solid;
  padding: 5px;
  box-shadow: 5px 5px black;
}


/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 450px) {
    /* Styles */
    .review_owner {
      box-sizing: border-box;
      background-color: aqua;
      width: 90px;
      padding: 5px;
      margin: auto;
      border: 1px black solid;
      box-shadow: 5px 5px;
    }

    .review_ul_li {
      background-color: darkcyan;
      border: black 1px solid;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10px;
      padding: 3%;
      min-width: 330px;
    }
    
    .review_ul_li div {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    .review_img {
      max-width: 400px;
      border: black 1px solid;
      width: 95%;
      min-width: 300px;
    }

    .review_body {
      display: none;
    }

    .read_more {
     display: none; 
    }
  }
  /* iPads (portrait and landscape) ----------- */
  @media screen and (min-width: 451px) and (max-width: 920px) {
    /* Styles */
    .review_owner {
      box-sizing: border-box;
      background-color: aqua;
      width: 90px;
      padding: 5px;
      margin: auto;
      border: 1px black solid;
      box-shadow: 5px 5px;
    }
    .review_ul_li {
      background-color: rosybrown;
      border: black 1px solid;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10px;
      padding: 3%;
      min-width: 450px;
    }
    
    .review_ul_li div {
      margin-top: 8px;
      margin-bottom: 8px;
    }


    .review_img {
      max-width: 800px;
      border: black 1px solid;
      width: 90%;
      min-width: 300px;
    }

    .review_body {
      line-height: 1.5em;
      height: 4.5em;
      overflow: hidden;
    }

    .read_more {
      margin: auto;
      width: 50%;
      clear: both;
    }
  }
  /* Desktops and laptops ----------- */
  @media screen and (min-width: 921px) {
    /* Styles */
    .review_owner {
      box-sizing: border-box;
      background-color: aqua;
      width: 90px;
      padding: 5px;
      margin: auto;
      border: 1px black solid;
      box-shadow: 5px 5px;
    }
    .review_ul_li {
      background-color: antiquewhite;
      border: black 1px solid;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10px;
      padding: 3%;
    }

    .review_ul_li div {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    
    .review_img {
      max-width: 800px;
      border: black 1px solid;
      width: 80%;
      min-width: 500px;
    }

    .read_more {
      display: none;
    }
  }
  