ul {
  padding: 0px;
  list-style: none;
}
 /* Smartphones (portrait and landscape) ----------- */
  @media screen and (max-width: 450px) {
    /* Styles */
    

}  
  /* iPads (portrait and landscape) ----------- */
  @media screen and (min-width: 451px) and (max-width: 920px) {
    /* Styles */
    .user_ul_li {
       font-weight: bold;
       margin: 0px;
       font-weight: bold;
       text-align: left;
    
    }
    
      .user_ul_li_name {
        text-align: left;
        margin: 0px;
      }
}  
  
  /* Desktops and laptops ----------- */
  @media screen and (min-width: 921px) {
    /* Styles */

.user_ul_li {
   font-weight: bold;
   margin: 0px;
   font-weight: bold;
   text-align: left;

}

  .user_ul_li_name {
    text-align: left;
    margin: 0px;
  }
}